.container{
    
   
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./image/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.game-info{
    position: absolute;
    top: 3rem;
    background-color: rgba(225, 211, 211, 0.334);

    border-radius:8px;
    border: 1px solid rgba(255, 255, 255, 0.663);
    padding:0.75rem;
    text-align: center;

}
.btn{
    position:absolute;
    bottom: 2rem;
    border-radius: 1rem;
    padding: 0.75rem;
    background-color: rgba(225, 216, 216, 0.624);
    border: 1px solid rgba(193, 171, 171, 0.907);
    text-align: center; 
    cursor: pointer; 
    display: none;

}

.tic-tac-toe{
    
    width: 90%;
    max-width: 22rem;
    background-color: rgba(225, 216, 216, 0.624);
    border: 1px solid rgba(193, 171, 171, 0.907);
    
    width: 350px;               /* Square width */
    height: 350px;              /* Square height */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    /* grid-template-rows: repeat(3, 1fr);    3 equal rows */
    /* gap: 10px;                  Space between cells to create non-touching lines */
    border: 2px solid rgba(224, 211, 211, 0.019);    /* Outer border for the square */
    border-radius: 2rem;
    box-sizing: border-box;     /* Ensures padding doesn’t affect the box size */
    padding:2rem;



}
.box{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
}
.box1, .box2, .box4, .box5{
    border-right:2px solid white ;
    border-bottom: 2px solid white;
}
.box3, .box6{
    border-bottom: 2px solid white ;
}
.box7, .box8{
    border-right: 2px solid white ;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(38, 230, 38, 0.869);
}
